/*
  terrible.css
  Andrew Tunecliffe, 2015
  http://atunnecliffe.com
*/

/* uncomment to see outlines of stuff when you hover *-/
:hover {
  background:rgba(0, 0, 0, 0.1);
}/**/

html, body {
    margin: 0;
    padding: 0;
}

.section {
    width: 100%;
}

.container {
    position: relative;
    width: 1170px;
    margin: 0 auto;
    color: #444;
    font-size: 14px;
    font-weight: 300;
    font-family: Roboto, 'Open Sans', Arial, sans-serif;
    overflow: hidden;
}

.section .container {
    padding: 30px 0 50px 0;
}

.section.bg {
    background: #f7f7f7;
}

/*
  Slider
*/

.section .slider, .section .footer {
    background: linear-gradient(to right, rgb(95, 98, 99), rgb(51, 56, 56));
}

.slidercontent {
    text-align: center;
}

.hero {
    font-family: 'Roboto Slab', sans-serif;
    color: white;
    font-weight: normal;
    letter-spacing: 1px;
}

h1.hero {
    font-size: 54px;
}

h2.hero {
    font-size: 30px;
    margin-bottom: 60px;
}

h1.hero:after {
    content: "";
    width: 300px;
    position: relative;
    border-bottom: 1px solid #aaa;
    text-align: center;
    margin: auto;
    margin-top: 15px;
}

.call {
    color: white;
    display: block;
    margin-bottom: 20px;
}

.call span {
    display: inline;
    border: 1px solid white;
    padding: 8px 13px;
    font-size: 20px;
    transition: background 0.15s linear;
}

.call span:hover {
    cursor: pointer;
}

/* 
  Columns 
*/

.col {
    float: left;
    padding: 0;
    margin: 0;
    position: relative;
}

.col.four {
    width: 23%;
    margin: 0 1%;
}

.col.three {
    width: 31.3%;
    margin: 0 1%;
}

.col.two {
    width: 40%;
    margin: 0 2.5%;
    padding: 0 2.5%;
}

.col.extrapad {
    padding-top: 20px;
    padding-bottom: 20px;
}

.col .service, .col .feature {
    font-size: 21px;
    font-weight: 300;
    font-family: 'Roboto Slab', sans-serif;
}

.col .service:after {
    content: "";
    width: 50px;
    position: relative;
    border-bottom: 1px solid #eee;
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 15px;
}

.col .feature {
    font-size: 19px;
}

.col h1.side, .col p.side, .col span.side:first-of-type {
    margin-left: 50px;
    text-align: left;
}

.col .icon {
    border-radius: 50%;
    height: 85px;
    width: 85px;
    line-height: 85px;
    text-align: center;
    margin: 0 auto;
    transition: background 0.25s linear, color 0.25s linear;
}

.col .icon.side {
    position: absolute;
    padding: 0;
    margin: 0;
    top: -15px;
    height: 50px;
    width: 50px;
}

.col:hover>.icon {
    background: #F44336;
    color: white;
}

.col:hover>.icon.side {
    background: initial;
    color: initial;
}

.responsivegroup {
    display: none;
}

/*
  Column specifics
*/

.col p, .col h1 {
    padding: 0 1%;
    text-align: center;
}

.group.margin {
    margin-bottom: 20px;
}

.col .imgholder {
    height: 300px;
    width: 100%;
    background: #333;
    transition: background 0.3s linear;
}

.col.bg {
    background: #FFF;
}

.col.pointer {
    cursor: pointer;
}

.col.bg:hover .imgholder {
    background: #555;
}

.col span.feature {
    font-size: 20px;
}

/*
  Text
*/

.container>h1:not(.hero) {
    margin-bottom: 30px;
    text-align: center;
}

.container>h1:after {
    content: "";
    width: 30px;
    position: relative;
    border-bottom: 1px solid #aaa;
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 15px;
}

h2 {
    font-family: 'Roboto Slab', sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
}

.left, .left>h1, .left>p {
    text-align: left;
}

.reset {
    text-align: left !important;
}

.reset:after {
    display: none !important;
}

/* 
  Slider with Content
*/

.white h1, .white h2, .white p, .white div, .white a {
    color: #fff;
}

/*
  Responsive
*/

.group:after {
    content: "";
    display: table;
    clear: both;
}

@media all and (max-width: 768px) {
    .container {
        width: 95%;
    }
    .col.four {
        width: 48%;
        margin: 1%;
    }
    .col.three {
        display: block;
        width: 95%;
        padding: 0;
        margin: 0 auto;
        float: none;
    }
    .header {
        height: auto;
        background: rgb(238, 238, 238);
    }
    #logo {
        position: initial;
        float: none;
        display: block;
        transform: none;
        margin: 10px auto 0 auto;
    }
    ul.nav {
        float: none;
        display: block;
        text-align: center;
        margin: 0 auto;
    }
    ul.nav li {
        float: initial;
        display: inline-block;
    }
    .responsivegroup {
        display: block;
    }
    .responsivegroup:after {
        content: "";
        display: table;
        clear: both;
    }
}

@media all and (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media all and (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media all and (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

@media all and (max-width:450px) {
    .col, .col.four, .col.three, .col.two {
        display: block;
        width: 95%;
        padding: 0;
        margin: 0 auto;
        float: none;
    }
    .col.extrapad {
        padding: 1%;
        margin-bottom: 10px;
    }
    .group {
        display: none;
    }
}

body {
    margin: 0;
    padding: 0;
    background: #232323;
    color: #cdcdcd;
    font-family: "Avenir Next", "Avenir", sans-serif;
}

a {
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
}

a:hover {
    color: tomato;
}

#menuToggle {
    display: block;
    position: relative;
    top: 50px;
    left: 50px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
}

#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

#menu {
    position: absolute;
    width: 100%;
    height: 2500%;
    overflow: hidden;
    text-align: center;
    margin: -100px 0 0 -50px;
    padding-top: 125px;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
    padding: 50px 0;
    font-size: 22px;
}

#menuToggle input:checked~ul {
    transform: none;
}

.menu:hover {
    background: #7a421a;
}

img {
    width: 370px;
    height: 300px;
}
